
<% unless current_user.full_profile? %>
  <header class="header_top panel panel-default col-lg-12 no-profile ">
    <h2>まずはあなたのプロフィールを登録しましょう。</h2>
    <p>profyはあなたのプロフィールを登録するサービスです。あなたの</p>
    <%= link_to 'プロフィールを登録する', edit_user_path(current_user.id) %>
  </header>
<% else %>

<% end %>
